# Compiled Object files
*.slo
*.lo
*.o

# Compiled debug information (DWARF)
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GNU Make dependences
*.deps

# Others
img2tex
unique_symbol_img_files
make_comparison_img

symbol_*
full_main
main-untexed-*
comparison.png
untexed.png
untexed.tex
